<div class="container">
  <div class="col-6 text-center mt-2">
    <mat-form-field class="col-12">
      <mat-label class="text-primary">Select Team</mat-label>
      <mat-select (selectionChange)="get_players_data_of_selected_team()" [(ngModel)]='team_label'>
        <mat-option *ngFor="let item of team_labels" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-6 text-center text-primary mt-5" *ngIf="team_label=='Select Team'">
      <p><b>Please Select From above Dropdown to see the Players Data</b></p>
    </div>
    <div class="col-6 text-center text-danger mt-5" *ngIf="team_label!='Select Team' && dataSource.length==0">
      <p><b>No data Found</b></p>
    </div>
    
    <div class="col-6 text-center  mt-4" *ngIf="team_label!='Select Team' && dataSource.length!=0">
      <div class="col-12 text-center text-primary"><span><b>{{team_label}} Players Details</b></span></div>
      <table mat-table [dataSource]="dataSource| slice: lowValue : highValue"
        class="mat-elevation-z8 col-12  text-center">
        <ng-container matColumnDef="si">
          <th mat-header-cell *matHeaderCellDef class="text-center"> SI# </th>
          <td mat-cell *matCellDef="let element;let i =index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Team </th>
          <td mat-cell *matCellDef="let element"> {{element.label}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Auction Price (<i class="fa fa-inr"></i>) </th>
          <td mat-cell *matCellDef="let element"> {{element.price |number}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator class="col-md-12" #paginatorRef [length]="dataSource.length" [pageSize]="rowsOnPage"
        (page)="getPaginatorData($event)" [pageSizeOptions]="[5,10, 20, 30]" showFirstLastButtons="false">
      </mat-paginator>
    </div>

    <div class="col-6 text-center  mt-4">
      <div class="col-12 text-primary" *ngIf="team_label!='Select Team' && dataSource.length!=0"><span><b>No. of Players by Role</b></span></div>
      <div class="row" (window:resize)="onResize($event)">
        <div class=" col-12 ">
          <div #chartDiv id="chart_div"></div>
        </div>
      </div>
    </div>

  </div>

</div>
